<!DOCTYPE html>
<html>
  <%- include('partials/head') %>

  <body>
    <%- include('partials/header') %> <%- include('partials/nav') %>

    <main>
      <h1>Error <%= status %></h1>
      <!-- Modified DEBUG mode option
          Must be set env
  -->
      <p><%= message %></p>
      <% if (debug && error.stack) { %>
      <pre><%= error.stack %></pre>
      <% } %>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
