<!DOCTYPE html>
<html>
  <head>
    <title><%= user.name %>'s Profile</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <%- include('partials/header') %> <%- include('partials/nav') %>

    <main>
      <h1><%= user.name %>'s Profile</h1>
      <p>ID: <%= user.id %></p>
      <h2>Hobbies</h2>
      <ul>
        <% user.key.forEach(function(item) { %>
        <li><%= item %></li>
        <% }); %>
      </ul>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
